.detalle {
color: crimson;
font-size: 30px;
}

.carga2 {
    background-color: cornsilk;
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    font-size: 30px;
    border: 10px solid red;
}