.logo {
    color: brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
}

a:Link, a:visited, a:active {
    text-decoration: none;
    text-decoration-style: solid;
    color: brown;
    font-size: 20px;
}
